.cell {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #000;
   margin: 1px;
   font-weight: bold;
   color: #000;
   user-select: none;

   &:hover {
      background-color: rgb(185, 185, 185);
   }
}
